<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Product</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
    <link href="/css/style.css"
          media="all"
          rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css">
</head>
<body>
<!-- ____________ MENU ____________ -->
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarNav"
                data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:7000">HOME <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:7000/list">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:7000/contacts">CONTACTS</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div align="center">
    <h1>CREATE NEW PRODUCT</h1>
    <br/>
    <form action="#"
          method="post"
          th:action="@{/save}"
          th:object="${product}">
        <table border="0"
               cellpadding="10">
            <tr>
                <td>Product Name:</td>
                <td><input th:field="*{name}" type="text"/></td>
            </tr>
            <tr>
                <td>Brand:</td>
                <td><input th:field="*{brand}" type="text"/></td>
            </tr>
            <tr>
                <td>Made In:</td>
                <td><input th:field="*{madein}" type="text"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input th:field="*{price}" type="text"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>